In [1]:
import pandas as pd 
data = pd.read_csv("sensor.csv")


df = data
df= df.astype(str)
df.head()

,id,tanggal,co2,no2,co,benzene,toluene,pm25,humidity,temperature,created_at,updated_at,new_id
0,1718353318,2024-06-14 08:21:58,410.29,23.12,0.53,0.0,2.58,46.09,70.4,32.1,2024-06-14 08:21:58,2024-06-14 08:21:58,AIR001
1,1718353328,2024-06-14 08:22:08,409.98,22.17,0.55,0.0,2.49,48.58,70.2,32.1,2024-06-14 08:22:08,2024-06-14 08:22:08,AIR001
2,1718353338,2024-06-14 08:22:18,405.24,9.14,0.29,0.0,1.15,18.7,70.0,32.1,2024-06-14 08:22:18,2024-06-14 08:22:18,AIR001
3,1718353353,2024-06-14 08:22:33,406.01,11.03,0.26,0.0,1.35,9.57,70.0,32.1,2024-06-14 08:22:33,2024-06-14 08:22:33,AIR001
4,1718353363,2024-06-14 08:22:43,406.01,11.03,0.23,0.0,1.35,14.55,70.5,32.2,2024-06-14 08:22:43,2024-06-14 08:22:43,AIR001

In [2]:
# Periksa tipe data
print(df.dtypes)

id             object
tanggal        object
co2            object
no2            object
co             object
benzene        object
toluene        object
pm25           object
humidity       object
temperature    object
created_at     object
updated_at     object
new_id         object
dtype: object

In [3]:
df = pd.DataFrame(df)

# Konversi kolom-kolom yang relevan ke tipe data numerik
cols_to_convert = ['co2', 'no2', 'co', 'benzene', 'toluene', 'pm25', 'humidity', 'temperature']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7525 entries, 0 to 7524
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           7525 non-null   object
 1   tanggal      7525 non-null   object
 2   co2          7525 non-null   float64
 3   no2          7525 non-null   float64
 4   co           7525 non-null   float64
 5   benzene      7525 non-null   float64
 6   toluene      7525 non-null   float64
 7   pm25         7525 non-null   float64
 8   humidity     7525 non-null   float64
 9   temperature  7525 non-null   float64
 10  created_at   7525 non-null   object
 11  updated_at   7525 non-null   object
 12  new_id       7525 non-null   object
dtypes: float64(8), object(5)
memory usage: 764.4+ KB

In [5]:
# df["co2_24hr_avg"] = df.groupby("new_id") ["co2"].rolling(window = 24, min_periods = 16).mean().values

# df["no2_24hr_avg"] = df.groupby("new_id") ["no2"].rolling(window = 24, min_periods = 16).mean().values

# df["co_8hr_max"] = df.groupby("new_id")["co"].rolling(window =  8, min_periods = 1).max().values

# df["benzene_8hr_max"] = df.groupby("new_id") ["benzene"].rolling(window = 24, min_periods =16).mean().values

# df["toluene_8hr_max"] = df.groupby("new_id") ["toluene"].rolling(window = 24, min_periods =16).mean().values

# df["pm25_24hr_avg"] = df.groupby("new_id")["pm25"].rolling(window = 24, min_periods = 16).mean().values

In [6]:
df

,id,tanggal,co2,no2,co,benzene,toluene,pm25,humidity,temperature,created_at,updated_at,new_id
0,1718353318,2024-06-14 08:21:58,410.29,23.12,0.53,0.0,2.58,46.09,70.4,32.1,2024-06-14 08:21:58,2024-06-14 08:21:58,AIR001
1,1718353328,2024-06-14 08:22:08,409.98,22.17,0.55,0.0,2.49,48.58,70.2,32.1,2024-06-14 08:22:08,2024-06-14 08:22:08,AIR001
2,1718353338,2024-06-14 08:22:18,405.24,9.14,0.29,0.0,1.15,18.70,70.0,32.1,2024-06-14 08:22:18,2024-06-14 08:22:18,AIR001
3,1718353353,2024-06-14 08:22:33,406.01,11.03,0.26,0.0,1.35,9.57,70.0,32.1,2024-06-14 08:22:33,2024-06-14 08:22:33,AIR001
4,1718353363,2024-06-14 08:22:43,406.01,11.03,0.23,0.0,1.35,14.55,70.5,32.2,2024-06-14 08:22:43,2024-06-14 08:22:43,AIR001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520,1718748622,2024-06-18 22:10:22,409.61,21.03,0.77,0.0,2.38,30.32,88.2,25.6,2024-06-18 22:10:22,2024-06-18 22:10:22,AIR001
7521,1718748637,2024-06-18 22:10:37,410.07,22.44,0.76,0.0,2.52,31.15,88.3,25.6,2024-06-18 22:10:37,2024-06-18 22:10:37,AIR001
7522,1718748647,2024-06-18 22:10:47,410.07,22.44,0.76,0.0,2.52,36.13,88.3,25.6,2024-06-18 22:10:47,2024-06-18 22:10:47,AIR001
7523,1718748657,2024-06-18 22:10:57,410.34,23.28,0.77,0.0,2.60,30.32,88.4,25.6,2024-06-18 22:10:57,2024-06-18 22:10:57,AIR001
7524,1718748667,2024-06-18 22:11:07,410.07,22.44,0.77,0.0,2.52,49.41,88.4,25.6,2024-06-18 22:11:07,2024-06-18 22:11:07,AIR001

In [7]:
# df.dropna(inplace=True)

In [8]:
def cal_CO2i(co2):
    co2i = 0
    if co2 <= 1000:
        co2i = co2 * 50 / 1000
    elif co2 > 1000 and co2 <= 2000:
        co2i = 50 + (co2 - 1000) * 50 / 1000
    elif co2 > 2000 and co2 <= 5000:
        co2i = 100 + (co2 - 2000) * 100 / 3000
    elif co2 > 5000:
        co2i = 200 + (co2 - 5000) * 100 / 5000
    return co2i

df['CO2i'] = df['co2'].apply(cal_CO2i)

In [9]:
def cal_NO2i(no2):
    no2i = 0
    if no2 <= 40:
        no2i = no2 * 50 / 40
    elif no2 > 40 and no2 <= 80:
        no2i = 50 + (no2 - 40) * 50 / 40
    elif no2 > 80 and no2 <= 180:
        no2i = 100 + (no2 - 80) * 100 / 100
    elif no2 > 180 and no2 <= 280:
        no2i = 200 + (no2 - 180) * 100 / 100
    elif no2 > 280 and no2 <= 400:
        no2i = 300 + (no2 - 280) * 100 / 120
    elif no2 > 400:
        no2i = 400 + (no2 - 400) * 100 / 400
    return no2i

df["NO2i"] = df["no2"].apply(cal_NO2i)

In [10]:
def cal_COi(co):
    coi = 0
    if co <= 4.4:
        coi = co * 50 / 4.4
    elif co > 4.4 and co <= 9.4:
        coi = 50 + (co - 4.4) * 50 / 5.0
    elif co > 9.4 and co <= 12.4:
        coi = 100 + (co - 9.4) * 100 / 3.0
    elif co > 12.4 and co <= 15.4:
        coi = 200 + (co - 12.4) * 100 / 3.0
    elif co > 15.4 and co <= 30.4:
        coi = 300 + (co - 15.4) * 100 / 15.0
    elif co > 30.4:
        coi = 400 + (co - 30.4) * 100 / 30.0
    return coi

df["COi"] = df["co"].apply(cal_COi)

In [11]:
def cal_Benzenei(benzene):
    benzenei = 0
    if benzene <= 3:
        benzenei = benzene * 50 / 3
    elif benzene > 3 and benzene <= 10:
        benzenei = 50 + (benzene - 3) * 50 / 7
    elif benzene > 10 and benzene <= 20:
        benzenei = 100 + (benzene - 10) * 100 / 10
    elif benzene > 20 and benzene <= 50:
        benzenei = 200 + (benzene - 20) * 100 / 30
    elif benzene > 50 and benzene <= 100:
        benzenei = 300 + (benzene - 50) * 100 / 50
    elif benzene > 100:
        benzenei = 400 + (benzene - 100) * 100 / 100
    return benzenei

df["Benzenei"] = df["benzene"].apply(cal_Benzenei)

In [12]:

def cal_Toluenei(toluene):
    toluenei = 0
    if toluene <= 10:
        toluenei = toluene * 50 / 10
    elif toluene > 10 and toluene <= 50:
        toluenei = 50 + (toluene - 10) * 50 / 40
    elif toluene > 50 and toluene <= 100:
        toluenei = 100 + (toluene - 50) * 100 / 50
    elif toluene > 100 and toluene <= 200:
        toluenei = 200 + (toluene - 100) * 100 / 100
    elif toluene > 200 and toluene <= 500:
        toluenei = 300 + (toluene - 200) * 100 / 300
    elif toluene > 500:
        toluenei = 400 + (toluene - 500) * 100 / 100
    return toluenei

df["Toluenei"] = df["toluene"].apply(cal_Toluenei)

In [13]:

def cal_PM25i(pm25):
    pm25i = 0
    if pm25 <= 30:
        pm25i = pm25 * 50 / 30
    elif pm25 > 30 and pm25 <= 60:
        pm25i = 50 + (pm25 - 30) * 50 / 30
    elif pm25 > 60 and pm25 <= 90:
        pm25i = 100 + (pm25 - 60) * 100 / 30
    elif pm25 > 90 and pm25 <= 120:
        pm25i = 200 + (pm25 - 90) * 100 / 30
    elif pm25 > 120 and pm25 <= 250:
        pm25i = 300 + (pm25 - 120) * 100 / 130
    elif pm25 > 250:
        pm25i = 400 + (pm25 - 250) * 100 / 130
    return pm25i

df["PM25i"] = df["pm25"].apply(cal_PM25i)

In [14]:
# Menampilkan data yang telah diubah
data = df[['co2', 'no2', 'co', 'benzene', 'toluene', 'pm25', 'CO2i', 'NO2i', 'COi', 'Benzenei', 'Toluenei', 'PM25i']]
print(data.head())

      co2    no2    co  benzene  toluene   pm25     CO2i     NO2i       COi  \
0  410.29  23.12  0.53      0.0     2.58  46.09  20.5145  28.9000  6.022727
1  409.98  22.17  0.55      0.0     2.49  48.58  20.4990  27.7125  6.250000
2  405.24   9.14  0.29      0.0     1.15  18.70  20.2620  11.4250  3.295455
3  406.01  11.03  0.26      0.0     1.35   9.57  20.3005  13.7875  2.954545
4  406.01  11.03  0.23      0.0     1.35  14.55  20.3005  13.7875  2.613636

   Benzenei  Toluenei      PM25i
0       0.0     12.90  76.816667
1       0.0     12.45  80.966667
2       0.0      5.75  31.166667
3       0.0      6.75  15.950000
4       0.0      6.75  24.250000

In [15]:
data.head()

,co2,no2,co,benzene,toluene,pm25,CO2i,NO2i,COi,Benzenei,Toluenei,PM25i
0,410.29,23.12,0.53,0.0,2.58,46.09,20.5145,28.9000,6.022727,0.0,12.90,76.816667
1,409.98,22.17,0.55,0.0,2.49,48.58,20.4990,27.7125,6.250000,0.0,12.45,80.966667
2,405.24,9.14,0.29,0.0,1.15,18.70,20.2620,11.4250,3.295455,0.0,5.75,31.166667
3,406.01,11.03,0.26,0.0,1.35,9.57,20.3005,13.7875,2.954545,0.0,6.75,15.950000
4,406.01,11.03,0.23,0.0,1.35,14.55,20.3005,13.7875,2.613636,0.0,6.75,24.250000

In [16]:
# def cal_aqi(co2i, no2i, coi, benzenei, toluenei, pm25i):
#     aqi = 0
#     if co2i > no2i and co2i > coi and co2i > benzenei and co2i > toluenei and co2i > pm25i:
#         aqi = co2i
#     elif no2i > co2i and no2i > coi and no2i > benzenei and no2i > toluenei and no2i > pm25i:
#         aqi = no2i
#     elif coi > co2i and coi > no2i and coi > benzenei and coi > toluenei and coi > pm25i:
#         aqi = coi
#     elif benzenei > co2i and benzenei > no2i and benzenei > coi and benzenei > toluenei and benzenei > pm25i:
#         aqi = benzenei
#     elif toluenei > co2i and toluenei > no2i and toluenei > coi and toluenei > benzenei and toluenei > pm25i:
#         aqi = toluenei
#     elif pm25i > co2i and pm25i > no2i and pm25i > coi and pm25i > benzenei and pm25i > toluenei:
#         aqi = pm25i
#     return aqi

# df['AQI'] = df.apply(lambda x: int(cal_aqi(x['CO2i'], x['NO2i'], x['COi'], x['Benzenei'], x['Toluenei'], x['PM25i'])), axis=1)

# data = df[['CO2i', 'NO2i', 'COi', 'Benzenei', 'Toluenei', 'PM25i', 'AQI']]
# print(data.head())

In [17]:
# def AQI_Range(x):
#     if x <= 50:
#         return "Good"
#     elif x <= 100:
#         return "Moderate"
#     elif x <= 200:
#         return "Unhealthy for Sensitive Groups"
#     elif x <= 300:
#         return "Unhealthy"
#     elif x <= 400:
#         return "Very Unhealthy"
#     elif x > 400:
#         return "Hazardous"

# df['AQI_Range'] = df['AQI'] .apply(AQI_Range)
# df.head()

In [18]:
import numpy as np
import pandas as pd


def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Moderate"
    elif x <= 200:
        return "Unhealthy for Sensitive Groups"
    elif x <= 300:
        return "Unhealthy"
    elif x <= 400:
        return "Very Unhealthy"
    elif x > 400:
        return "Hazardous"
    else:
        return np.nan

# Calculate Checks, excluding PM10_SubIndex as it's missing
df["Checks"] =  (df["CO2i"] > 0).astype(int) + \
                (df["NO2i"] > 0).astype(int) + \
                (df["COi"] > 0).astype(int) + \
                (df["Benzenei"] > 0).astype(int) + \
                (df["Toluenei"] > 0).astype(int) + \
                (df["PM25i"] > 0).astype(int)

df["AQI"] = round(df[['CO2i', 'NO2i', 'COi', 'Benzenei', 'Toluenei', 'PM25i']].max(axis = 1))
df.loc[df["PM25i"] <= 0, "AQI"] = np.nan
df.loc[df.Checks < 3, "AQI"] = np.nan

df["AQI_Range"] = df["AQI"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI.isna()].head(13)

,id,tanggal,co2,no2,co,benzene,toluene,pm25,humidity,temperature,...,new_id,CO2i,NO2i,COi,Benzenei,Toluenei,PM25i,Checks,AQI,AQI_Range
0,1718353318,2024-06-14 08:21:58,410.29,23.12,0.53,0.0,2.58,46.09,70.4,32.1,...,AIR001,20.5145,28.9000,6.022727,0.0,12.90,76.816667,5,77.0,Moderate
1,1718353328,2024-06-14 08:22:08,409.98,22.17,0.55,0.0,2.49,48.58,70.2,32.1,...,AIR001,20.4990,27.7125,6.250000,0.0,12.45,80.966667,5,81.0,Moderate
2,1718353338,2024-06-14 08:22:18,405.24,9.14,0.29,0.0,1.15,18.70,70.0,32.1,...,AIR001,20.2620,11.4250,3.295455,0.0,5.75,31.166667,5,31.0,Good
3,1718353353,2024-06-14 08:22:33,406.01,11.03,0.26,0.0,1.35,9.57,70.0,32.1,...,AIR001,20.3005,13.7875,2.954545,0.0,6.75,15.950000,5,20.0,Good
4,1718353363,2024-06-14 08:22:43,406.01,11.03,0.23,0.0,1.35,14.55,70.5,32.2,...,AIR001,20.3005,13.7875,2.613636,0.0,6.75,24.250000,5,24.0,Good
5,1718353373,2024-06-14 08:22:53,406.05,11.13,0.24,0.0,1.36,12.89,71.0,32.3,...,AIR001,20.3025,13.9125,2.727273,0.0,6.80,21.483333,5,21.0,Good
6,1718353383,2024-06-14 08:23:03,404.84,8.19,0.28,0.0,1.04,16.21,71.0,32.5,...,AIR001,20.2420,10.2375,3.181818,0.0,5.20,27.016667,5,27.0,Good
7,1718353398,2024-06-14 08:23:18,404.75,7.97,0.28,0.0,1.02,22.85,69.8,32.6,...,AIR001,20.2375,9.9625,3.181818,0.0,5.10,38.083333,5,38.0,Good
8,1718353408,2024-06-14 08:23:28,404.26,6.87,0.28,0.0,0.89,16.21,69.3,32.6,...,AIR001,20.2130,8.5875,3.181818,0.0,4.45,27.016667,5,27.0,Good
9,1718353418,2024-06-14 08:23:38,404.12,6.56,0.29,0.0,0.86,21.19,70.7,32.8,...,AIR001,20.2060,8.2000,3.295455,0.0,4.30,35.316667,5,35.0,Good
10,1718353433,2024-06-14 08:23:53,404.18,6.68,0.28,0.0,0.87,32.81,69.6,32.9,...,AIR001,20.2090,8.3500,3.181818,0.0,4.35,54.683333,5,55.0,Moderate
11,1718353443,2024-06-14 08:24:03,404.35,7.07,0.28,0.0,0.92,13.72,67.6,33.1,...,AIR001,20.2175,8.8375,3.181818,0.0,4.60,22.866667,5,23.0,Good
12,1718353453,2024-06-14 08:24:13,404.59,7.61,0.29,0.0,0.98,24.51,67.9,33.3,...,AIR001,20.2295,9.5125,3.295455,0.0,4.90,40.850000,5,41.0,Good

In [19]:
df.isnull().sum()

id               0
tanggal          0
co2              0
no2              0
co               0
benzene          0
toluene          0
pm25             0
humidity         0
temperature      0
created_at       0
updated_at       0
new_id           0
CO2i             0
NO2i             0
COi              0
Benzenei         0
Toluenei         0
PM25i            0
Checks           0
AQI            113
AQI_Range      113
dtype: int64

In [20]:
df['AQI_Range'].value_counts()

AQI_Range
Moderate                          5535
Unhealthy for Sensitive Groups     896
Good                               664
Unhealthy                          288
Very Unhealthy                      26
Hazardous                            3
Name: count, dtype: int64

In [21]:
df

,id,tanggal,co2,no2,co,benzene,toluene,pm25,humidity,temperature,...,new_id,CO2i,NO2i,COi,Benzenei,Toluenei,PM25i,Checks,AQI,AQI_Range
0,1718353318,2024-06-14 08:21:58,410.29,23.12,0.53,0.0,2.58,46.09,70.4,32.1,...,AIR001,20.5145,28.9000,6.022727,0.0,12.90,76.816667,5,77.0,Moderate
1,1718353328,2024-06-14 08:22:08,409.98,22.17,0.55,0.0,2.49,48.58,70.2,32.1,...,AIR001,20.4990,27.7125,6.250000,0.0,12.45,80.966667,5,81.0,Moderate
2,1718353338,2024-06-14 08:22:18,405.24,9.14,0.29,0.0,1.15,18.70,70.0,32.1,...,AIR001,20.2620,11.4250,3.295455,0.0,5.75,31.166667,5,31.0,Good
3,1718353353,2024-06-14 08:22:33,406.01,11.03,0.26,0.0,1.35,9.57,70.0,32.1,...,AIR001,20.3005,13.7875,2.954545,0.0,6.75,15.950000,5,20.0,Good
4,1718353363,2024-06-14 08:22:43,406.01,11.03,0.23,0.0,1.35,14.55,70.5,32.2,...,AIR001,20.3005,13.7875,2.613636,0.0,6.75,24.250000,5,24.0,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7520,1718748622,2024-06-18 22:10:22,409.61,21.03,0.77,0.0,2.38,30.32,88.2,25.6,...,AIR001,20.4805,26.2875,8.750000,0.0,11.90,50.533333,5,51.0,Moderate
7521,1718748637,2024-06-18 22:10:37,410.07,22.44,0.76,0.0,2.52,31.15,88.3,25.6,...,AIR001,20.5035,28.0500,8.636364,0.0,12.60,51.916667,5,52.0,Moderate
7522,1718748647,2024-06-18 22:10:47,410.07,22.44,0.76,0.0,2.52,36.13,88.3,25.6,...,AIR001,20.5035,28.0500,8.636364,0.0,12.60,60.216667,5,60.0,Moderate
7523,1718748657,2024-06-18 22:10:57,410.34,23.28,0.77,0.0,2.60,30.32,88.4,25.6,...,AIR001,20.5170,29.1000,8.750000,0.0,13.00,50.533333,5,51.0,Moderate
7524,1718748667,2024-06-18 22:11:07,410.07,22.44,0.77,0.0,2.52,49.41,88.4,25.6,...,AIR001,20.5035,28.0500,8.750000,0.0,12.60,82.350000,5,82.0,Moderate

In [23]:
df = pd.DataFrame(df)

# Menyimpan DataFrame ke file CSV
df.to_csv('data_baru.csv', index=False)